.quotec{
    margin-top:50px;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    padding: 10px;
    background-color: antiquewhite;
  border-bottom: solid 2px rgb(11, 11, 11);
  position: fixed;
  width: 100%;
}