.about{
    margin-top: 80px;
    padding:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: groove 4px wheat; */
}
.aboutus{
    font-family: 'Anuphan', sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    border-bottom: solid;
    /* border: 100%; */
}
/* .border{
    border-left: groove 4px cornflowerblue;
    border-top:groove 4px cornflowerblue ;
    border-right:groove 4px cornflowerblue ;
} */
.Aimg{
    width: 100%;

}

.aboutText{
    font-family: 'Anuphan', sans-serif;
    font-size: 20px;
    /* border: groove 4px cornflowerblue; */
    padding: 50px;
}
.ul{
    list-style: none;
  margin: 2px;
    padding: 2px;
}
.welcome{
    margin: 5px;
    padding: 2px;
    text-align: justify;
}
.last{
    margin: 5px;
    padding: 2px;
}




