.side{
    flex:3;
    margin: 10px;
    padding-bottom: 30px;
    padding: 40px;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.Cat{
    margin: 5px;
    padding: 2px;
    margin-bottom: 15px;
    width: 80%;
    border-top: solid 2px #a7a7a4;
    border-bottom: solid 2px #a7a7a4;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
}
.list{
    list-style: none;
    margin-bottom: -10px;

}
.catItem{
    display: inline-block;
    width: 80%;
    margin-top: 20px;
    cursor: pointer;
}
.social{
    margin-top: 5px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sideIcon{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}